AuthorizationService_prototype/WebContent/wsdl/AuthenticationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.auth" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.auth" xmlns:intf="http://service.auth" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="grantAuthorizationRequest">

      <wsdl:part name="subject" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="predicate" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="object" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="grantAuthorizationResponse">

      <wsdl:part name="grantAuthorizationReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryRequest">

   </wsdl:message>

   <wsdl:message name="attestAttributeResponse">

      <wsdl:part name="attestAttributeReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="revokeAuthorizationRequest">

      <wsdl:part name="subject" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="predicate" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="object" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryResponse">

      <wsdl:part name="queryReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="revokeAuthorizationResponse">

      <wsdl:part name="revokeAuthorizationReturn" type="xsd:int">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="attestAttributeRequest">

      <wsdl:part name="key" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="value" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AuthenticationService">

      <wsdl:operation name="grantAuthorization" parameterOrder="subject predicate object">

         <wsdl:input message="impl:grantAuthorizationRequest" name="grantAuthorizationRequest">

       </wsdl:input>

         <wsdl:output message="impl:grantAuthorizationResponse" name="grantAuthorizationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="revokeAuthorization" parameterOrder="subject predicate object">

         <wsdl:input message="impl:revokeAuthorizationRequest" name="revokeAuthorizationRequest">

       </wsdl:input>

         <wsdl:output message="impl:revokeAuthorizationResponse" name="revokeAuthorizationResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="attestAttribute" parameterOrder="key value">

         <wsdl:input message="impl:attestAttributeRequest" name="attestAttributeRequest">

       </wsdl:input>

         <wsdl:output message="impl:attestAttributeResponse" name="attestAttributeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="query">

         <wsdl:input message="impl:queryRequest" name="queryRequest">

       </wsdl:input>

         <wsdl:output message="impl:queryResponse" name="queryResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthenticationServiceSoapBinding" type="impl:AuthenticationService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="grantAuthorization">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="grantAuthorizationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.auth" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="grantAuthorizationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.auth" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="revokeAuthorization">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="revokeAuthorizationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.auth" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="revokeAuthorizationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.auth" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="attestAttribute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="attestAttributeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.auth" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="attestAttributeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.auth" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="query">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.auth" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.auth" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthenticationServiceService">

      <wsdl:port binding="impl:AuthenticationServiceSoapBinding" name="AuthenticationService">

         <wsdlsoap:address location="http://localhost:8080/AuthorizationService_prototype/services/AuthenticationService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
